{{ include "bootstrap/base.html" }}

{% block title %}☕️Coffee & Wifi💻{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">☕️Coffee & Wifi💻</h1>
    <p class="lead">Want to work in a cafe but need power and will?</p>
    <hr class="my-4">
    <p>You've found the right place! Checkout my collection of cafes with data on power socket available, wifi speed and coffee quality.</p>
    <a class="btn btn-warning btn-lg" href="add.html" role="button">Show me</a>
  </div>
</div>
  {% endblock %}